

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.main-profile-image {
    border-radius: 50%;
    min-height: 100px;
    min-width: 100px;
    height: 60%;
    width: 24%;
    border:1px solid #021a40;

}


.portfolio-image {
    min-height: 200px;
    min-width: 200px;
    height: 60%;
    width: 24%;
    margin: 0 auto;

}

.profile-image {
	background: url('../img/profile.png');
	background-repeat: no-repeat;
	
}

.profile-image:hover {
	background: url('../img/profile.gif');
	background-repeat: no-repeat;
	
}
.port-image {
	background: url('../img/portfolio.png');
	background-repeat: no-repeat;
}

.port-image:hover {
	background: url('../img/portfolio.gif');
	background-repeat: no-repeat;
}
.resume-image {
	background: url('../img/resume.png');
	background-repeat: no-repeat;
	
}

.resume-image:hover {
	background: url('../img/resume.gif');
	background-repeat: no-repeat;
	
}
.blog-image {
	background: url('../img/blog.png');
	background-repeat: no-repeat;
	
}

.blog-image:hover {
	background: url('../img/blog.gif');
	background-repeat: no-repeat;
}

.contact-image {
	background: url('../img/contact.png');
	background-repeat: no-repeat;
	
}

.contact-image:hover {
	background: url('../img/contact.gif');
	background-repeat: no-repeat;
	
}
.head {
	width:60%;
  	clear:both;
  	margin:0 auto;
}

.head-col-1{
	width:35%;
  	float:left;
  	margin:0 auto;

}

.head-col-2{
	width:60%;
  	float:left;
  	margin:0 auto;
}

.title {
	font-size: 2em;
	text-transform: uppercase;
	font-family: sans-serif;
	text-align: center;
}
.headline {
	font-size: 0.8em;
	text-transform: uppercase;
	font-family: sans-serif;
	text-align: center;	
}

.portfolio-head {
	width:80%;
	height: 40%;
  	clear:both;
  	margin:0 auto;
}

.portfolio-col{
	width:20%;
	height: 40%;
	min-height: 100px;
  	float:left;
  	margin:0 auto;

}

.col-md-2 {
	margin:15px;
	align-self: center;
	float: center;	
}


.portfolio-caption {
	text-align: center;
	font-size: 1em;
	text-transform: capitalize;
}








